@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    font-family: 'Roboto';
}

.container{
    background-color: #1F2937;
    padding-left: 150px;
    padding-right: 150px;
}

.headerlogo{
    font-size: 24px;
    color: #F9FAF8;
}

.header{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.website{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.lower{
    display: flex;
    align-items: center;
}

.lower2{
    width: 500px;
    margin-right: 250px;
}

.placeholder{
    width: 500px;
    height: 250px;
    background-color: gray;
    align-items: center;
}

.subtext{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    background-color: #3882F6;
    color: white;
    font-size: large;
    border-radius: 15%;
    width: 125px;
    height: 30px;
    margin-bottom: 100px;
}